{% extends 'panel_admin/base.html' %}


{% block title_page %}
<h1>Aprobar Tutoria Academica</h1>
<p>Se le aprobará la tutoria a {{ object.student }}</p>
{% endblock %}


{% block main_content %}
<div class="form-group">
  <div class="col-md-12">
    {% include 'panel_admin/form.html' %}
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
  $( "#id_start" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
  $( "#id_end" ).datepicker({
    dateFormat: "dd/mm/yy"
  });
</script>
{% endblock %}
