{% load pagination %}

{% if is_paginated %}
<div class="row form-group mt-4">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li  class="page-item"><a class="page-link click-pagination" onclick="redirect_pagination({{ page_obj.previous_page_number }})" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a></li>
      {% else %}
        <li class="page-item disabled"><a href="javascript:void(0)" class="page-link click-pagination">Previous</a></li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active">
            <a href="?{% param_replace page=i %}" class="page-link">
              <span>{{ i }} <span class="sr-only">(current)</span></span>
            </a>
          </li>
        {% else %}
          <li class="page-item"><a href="?{% param_replace page=i %}" class="page-link click-pagination" onclick="redirect_pagination({{ i }})">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item"><a  href="?{% param_replace page=page_obj.next_page_number %}" class="page-link click-pagination" onclick="redirect_pagination({{ page_obj.next_page_number }})">Next</a></li>
      {% else %}
        <li class="page-item disabled"><a href="javascript:void(0)" class="page-link">Next</a></li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}
