{% extends 'panel_student/base.html' %}

{% block title_page %}
  <h1> Mis tutorias academicas en situación de riesgo </h1>
{% endblock %}

{% block main_content %}
<div class="row">
  <div class="col-md-12 form-group">
    <div class="text-right">
      <a class="btn btn-primary" href="{% url 'panel_student:tutorias:create-academica' %}"><i class="fas fa-plus"></i> Solicitar Tutoria</a>
    </div>
  </div>


  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Profesor Tutor</th>
          <th scope="col">Materia</th>
          <th scope="col">Inicio</th>
          <th scope="col">Fin</th>
          <th scope="col">Localización</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
        <tr>
          <td><a href="{% url 'panel_student:tutorias:detail-academica' item.pk %}">{{ item.teacher_tutor|default_if_none:"N/A" }}</a></td>
          <td>{{ item.materia }}</td>
          <td>{{ item.start|default_if_none:"N/A" }}</td>
          <td>{{ item.end|default_if_none:"N/A" }}</td>
          <td>{{ item.location|default_if_none:"N/A" }}</td>
          <td>
            {% if item.is_assigned %}
              <span class="badge badge-success">Aprobado</span>
            {% elif item.is_assigned == None %}
              <span class="badge badge-warning">No Asignado</span>
            {% else %}
              <span class="badge badge-danger">No Aprobado</span>
            {% endif %}
          </td>
          <td>
            {% if item.is_assigned == None %}
              <a class="btn btn-sm btn-outline-warning" href="{% url 'panel_student:tutorias:update-academica' item.pk %}"><i class="fas fa-edit"></i></a>
            {% endif %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td>No hay Solicitud de Tutorias</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
