{% extends 'panel_student/base.html' %}


{% block title_page %}
<h1>Hola {{ object }}!</h1>
{% endblock %}


{% block main_content %}
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2>
          Información General
          <div class="float-right">
            <a href="{% url 'panel_student:profile:update' object.pk %}" class="btn btn-outline-warning"><i class="fas fa-edit"></i></a>
          </div>
        </h2>
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-md-6">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Nombre:</strong> <span class="text-muted">{{ object.full_name }}</span></li>
                <li class="list-group-item"><strong>Email: </strong><span class="text-muted">{{ object.user.email }}</span></li>
                <li class="list-group-item"><strong>Boleta: </strong><span class="text-muted">{{ object.boleta }}</span></li>
                <li class="list-group-item"><strong>Turno:</strong> <span class="text-muted">{{ object.get_turno_display }}</span></li>
              </ul>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Eres un tutor:</strong>
                  {% if object.is_tutor %}
                  <i class="text-success fas fa-circle"></i>
                  {% else %}
                  <i class="text-danger fas fa-circle"></i>
                  {% endif %}
                </li>
                <li class="list-group-item"><strong>Materias:</strong>
                  <ul class="list-group list-group-flush">
                    {% for mat in object.materias.all %}
                    <li class="list-group-item">{{ mat }}</li>
                    {% empty %}
                    <li class="list-group-item">No hay materias en las cuales eres bueno /(*.*)/</li>
                    {% endfor %}
                  </ul>
                </li>
                <li class="list-group-item"><strong>Alumnos:</strong>
                  <ul class="list-group list-group-flush">
                    {% for mat in object.student_tutor_set.all %}
                    <li class="list-group-item">{{ mat.materia }} - {{ mat.student }}</li>
                    {% empty %}
                    <li class="list-group-item">No tienes alumnos tutados \(¨-¨)/</li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
