{% extends 'panel_student/base.html' %}


{% block title_page %}
<h1>Actualizar mi Perfil</h1>
{% endblock %}


{% block main_content %}
<div class="form-group">
  <div class="col-md-12">
    {% include 'panel_student/form.html' %}
  </div>
</div>

{% endblock %}
