{% extends 'panel_admin/base.html' %}

{% block title_page %}
  <h1> Elige el tipo de tutoria </h1>
{% endblock %}

{% block main_content %}
<div class="text-center">
  <div class="row form-group justify-content-md-center">
   <div class="card-deck">
       <div class="card col-md-6">
         <div class="card-body">
           <h4 class="card-title"><strong>Tutoria Individual</strong></h4>
           <a href="{% url 'panel_admin:tutorias:index-individual' %}"><i class="text-tut fas fa-user-shield fa-7x"></i></a>
           <p class="card-text pt-3">Docente Asesora a un alumno.</p>
         </div>
       </div>
       <div class="card col-md-6">
         <div class="card-body">
           <h4 class="card-title"><strong>Tutoria de Regularización</strong></h4>
           <a href="{% url 'panel_admin:tutorias:index-regularizacion' %}"><i class="text-tut fas fa-7x fa-user-tie"></i></a>
           <p class="card-text pt-3">Docente que asesora a un grupo de estudiantes que tienen la dificultad de
            entender algunos temas en las clases regulares, para reafirmar conocimientos y
            aclarar dudas.
            </p>
         </div>
       </div>
   </div>
 </div>

  <div class="row form-group justify-content-md-center">
    <div class="card-deck">
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title"><strong>Tutorias Academicas</strong></h4>
          <a href="{% url 'panel_admin:tutorias:index-academica' %}"><i class="text-tut fas fa-7x fa-users"></i></a>
          <p class="card-text pt-3">Docente que asesora a un alumno en riesgo, con dictamen académico o adeudo de materias.</p>
        </div>
      </div>
      <div class="card col-md-6">
        <div class="card-body">
          <h4 class="card-title"><strong>Tutorias Entre Pares</strong></h4>
          <a href="{% url 'panel_admin:tutorias:index-pares' %}"><i class="text-tut fas fa-user-friends fa-7x"></i></a>
          <p class="card-text pt-3">Alumno tutor asesora a un Alumno.</p>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}
