body {

    }


a, a:hover, a:focus
{
text-decoration: none;
}

h1,h2{

   margin-top: 10px;
   font-size: 40px;
   font-weight: 100;
   line-height: 50px;
}

h3{
   font-size: 33;
   font-weight: 300;
   color: rgb(255, 255, 255);
}
/*contenido y formulario*/
.my-content{
margin:0 auto;
   padding:  0;
}
.my-content .mydescription {
margin:20px 0 10px 0 ;
}
.my-content mydescription p {
opacity: 0.10;
}
.myform-cont{
   margin-top: 35px;
}

.myform-top{
   overflow: hidden;
padding: 0 25px 15px 25px;
background: rgb(1, 32, 0);
-moz-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;
border-radius: 10px 10px 0 0 ;
}

.myform-top-regis{

   overflow: hidden;
padding: 0 25px 15px 25px;
font-size: 30px;
text-align: center ;

background: rgb(1, 32, 0);
-moz-border-radius: 10px 10px 0 0;
-webkit-border-radius: 10px 10px 0 0;
border-radius: 10px 10px 0 0 ;
}


.myform-bottom{
padding: 25px 25px 30px 25px;
background:  rgb(1, 32, 0 ) ;

-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-radius:  0 0 10px 10px;
border-radius: 0px 0px 10px 10px ;


}
.myform-bottom .mybtn{
   width: 100%;
}


.form-group input {

   font-size: 20px;
   font-weight: 800;
   padding-left: 60px;
}
.form-group::before{
   font-family: "Font Awesome\ 5 Free";
   position: absolute;
   left: 28px;
   font-size: 23px;
}

.form-group#form-username::before{

  content:"\f007";

}

/* input [type="text"],
input [type="password"],
textarea,
textarea.form-control{
   height: 50px;
   vertical-align: middle;
   background: #fff;
   border: 3px solid #fff;
   font-size: 20px;
   font-weight: 300;
   line-height: 50px


} */


input [type="text"]:focus,
input [type="password"]:focus,
textarea:focus,
textarea.form-control:focus{
   background: #ffffff;
   /* border: 10px solid #1aae88; */
}

button.mybtn{
height: 50px;
background: rgb(10, 82, 0);
border: 0;
font-size: 22px;
font-weight: 500;
line-height: 40px;
color: white;

-moz-border-radius: 4px; -webkit-border-radius: 4px;
border-radius: 4px;
}

/* estilooooon los btns rds sociales */
.mysocial-login{
   margin-top: 35px;
}
.mysocial-login-buttons{

margin-top: 25px;
}
.mybtn-social {
   display: inline-block ;
   height: 50px;
   margin: 5px ;
   padding: 15px 20px 0 20px;
   background: rgb(1, 32, 0);
   border: 1px solid #ffffff;
   font-size: 20px ;

   font-weight: 400;
   line-height: 16px;
border-radius: 5px ;
color: rgb(255, 255, 255);
}

.mybtn-social:hover, .mybtn-social:focus, .mybtn-social:active:focus{
   outline: 0;
   opacity: 0.6;
/* background: #ffffff; */
background: rgb(1, 32, 0);
/* color: #ffffff; */

}

.mybtn :hover, .mybtn:focus, .mybtn:active:focus{
   outline: 0;
   opacity: 0.6;
/* background: #ffffff; */
background:rgb(1, 32, 0);
/* color: #ffffff; */
border: 3px solid #ffffff;

}



i{
   color: rgb(255, 255, 255);
}


.myregistrarse{
   font-weight: 500;
    text-decoration: underline white;
    font-family: cursive;
}

i{
   font-size: 33px;
}

.form-control::before{
   font-family: "Font Awesome\ 5 Free";
}
.form-group#usuario::before{
content: "\f007";
color: black;
text-indent: 22pt;
opacity: 0.3;
}



.form-group#contra::before{
   content: "\f084";
   color: black;
   text-indent: 22pt;
   opacity: 0.3;
   }



   /* input{
       text-transform: uppercase;
   } */
