{% extends 'panel_admin/base_list.html' %}

{% block title_page %}
<h1>Grupos</h1>
{% endblock %}


{% block main_content %}

  <div class="col-md-12 form-group">
    <div class="text-right">
      <a class="btn btn-primary" href="{% url 'panel_admin:groups:create' %}"><i class="fas fa-plus"></i> Nuevo</a>
    </div>
  </div>


  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Periodo</th>
          <th scope="col">Grupo</th>
          <th scope="col">Profesor tutor</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
        <tr>
          <td>{{ item.period_school }}</td>
          <td>{{ item.group }}</td>
          <td>{{ item.teacher }}</td>
          <td>
            <a class="btn btn-outline-warning btn-sm" href="{% url 'panel_admin:groups:update' item.pk %}"><i class="fas fa-edit"></i></a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td>No hay Estudiates</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
