{% extends 'panel_student/base.html' %}


{% block title_page %}
<h1>Bienvenido {{ request.user.user_student }}</h1>
<h5>Aqui pódras ver el estado de tus tutorias, realizar solitudes y encontrar material de apoyo</h5>
{% endblock %}


{% block main_content %}
<div class="text-center">
  <div class="row form-group justify-content-md-center pt-5 mt-5">
     <div class="card-deck">

         <div class="card col-md-6">
           <div class="card-body">
             <h4 class="card-title"><strong>Tutorias</strong></h4>
             <a href="{% url 'panel_student:tutorias:index' %}"><i class="text-tut fa-7x fas fa-users"></i></a>
             <p class="card-text pt-3">Módulo para ver y solictar tutorias</p>
           </div>
         </div>

         <div class="card col-md-6">
           <div class="card-body">
             <h4 class="card-title"><strong>Mi Perfil</strong></h4>
             <a href="{% url 'panel_student:profile:detail' request.user.user_student.pk %}"><i class="text-tut fa-7x fas fa-user"></i></a>
             <p class="card-text pt-3">Módulo para poder ver mi perfil</p>
           </div>
         </div>

     </div>
   </div>
</div>

{% endblock %}
