{% extends 'panel_admin/base.html' %}

{% block title_page %}
  <h1> Detalle de tutoria Entre Pares</h1>
{% endblock %}

{% block main_content %}

<div class="row">
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        Informacion General
      </div>
      <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
      </ul>
      </div>
      <div class="card-footer">
        2 days ago
      </div>
    </div>
  </div>
</div>

{% endblock %}
