{% extends 'panel_teacher/base.html' %}

{% block title_page %}
  <h1> Detalle de tutoria entre pares </h1>
{% endblock %}

{% block main_content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        Informacion General
      </div>
      <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Profesor tutor: <span class="text-muted">{{ object.teacher_tutor }}</span></li>
        <li class="list-group-item">Materia: <span class="text-muted">{{ object.materia }}</span></li>
        <li class="list-group-item">Alumno tutado: <span class="text-muted">{{ object.student }}</span></li>
        <li class="list-group-item">Inicio: <span class="text-muted">{{ object.start }}</span></li>
        <li class="list-group-item">Hasta: <span class="text-muted">{{ object.end }}</span></li>
        <li class="list-group-item">Locación: <span class="text-muted">{{ object.location }}</span></li>

      </ul>
      </div>
      <div class="card-footer">
        <a class="btn btn-danger btn-sm" href="javascript:void(0)">Finalizar</a>
        <a class="btn btn-warning btn-sm" href="javascript:void(0)">Editar</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">

        Informacion General
        <div class="float-right">
          <a class="btn btn-primary btn-sm" href="javascript:void(0)"><i class="fas fa-plus"></i></a>
        </div>
      </div>
      <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for note in object.note_set.all %}
          <li class="list-group-item">{{ note.content }}</li>
        {% empty %}
          <li class="list-group-item">Sin Notas</li>
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
</div>


{% endblock %}
