{% extends 'panel_admin/base_list.html' %}

{% block title_page %}
<h1>Estudiantes</h1>
{% endblock %}


{% block main_content %}

  <div class="col-md-12 form-group">
    <div class="text-right">
      <a class="btn btn-primary" href="{% url 'panel_admin:students:create' %}"><i class="fas fa-plus"></i> Nuevo</a>
    </div>
  </div>


  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Boleta</th>
          <th scope="col">Email</th>
          <th scope="col">¿Es Tutor?</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in object_list %}
        <tr>
          <td>{{ item.full_name }}</td>
          <td>{{ item.boleta }}</td>
          <td>{{ item.user.email }}</td>
          <td>
            {% if item.is_tutor %}
              <i class="text-success fas fa-circle"></i>
            {% else %}
              <i class="text-danger fas fa-circle"></i>
            {% endif %}
          </td>
          <td>
            <a class="btn btn-outline-warning btn-sm" href="{% url 'panel_admin:students:update' item.pk %}"><i class="fas fa-edit"></i></a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td>No hay Estudiates</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}
